<form>
  <div class="form-group">
    <label for="course">Course name</label>
    <input ngModel name="course" required minlength="3" pattern="fancy"
           #course="ngModel" (change)="logCourseInputChange(course)"
           id="course" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="course.touched && !course.valid">
      <div *ngIf="course.errors.required">Course name is required</div>
      <div *ngIf="course.errors.minlength">Course name must be longer at
        least {{course.errors.minlength.requiredLength}} characters long.
      </div>
      <div *ngIf="course.errors.pattern">Course name does not match the pattern</div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Course category</label>
    <input ngModel name="category" required
           #category="ngModel" (change)="logCategoryInputChange(category)"
           id="category" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">Course category is required</div>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
