<div class="list-item-layout">
  <div [ngClass]="{
      'list-item-header-expanded':isItemExpanded,
      'list-item-header-collapsed':!isItemExpanded}"
       (click)="onItemStateChanged(!isItemExpanded)">

    <h1 class="header-text">{{title}}</h1>

    <i *ngIf="isItemExpanded" class="fa fa-chevron-up fa-2x"></i>
    <i *ngIf="!isItemExpanded" class="fa fa-chevron-down fa-2x"></i>
  </div>

  <div *ngIf="isItemExpanded" class="list-item-summary">
    <p class="summary-text">
      <ng-content></ng-content>
    </p>
  </div>
</div>
